.mrg-btm {
    margin-bottom: 7.5rem;
}

.name-value div span:last-child {
    font-weight: 500;
    color:white;
}

#pagination {
    text-align:center;
    padding-top:.5em
}

    #pagination span {
        padding:.2em;
        margin:.25em
    }
    #pagination span:hover {
        cursor: pointer;
    }
    #pagination p {
        display: inline;
        padding: .2em;
        margin: .25em;
        color:white;
    }

    .drpdwn-main {
    height: 2em !important;
    line-height: 2em !important;
    padding: 0 1.25em !important;
    position: absolute;
    right: 310px;
    top: .75em;
    max-width: 130px;
}

.btn-main {
    all: unset;
    height: 2em !important;
    line-height: 2em !important;
    padding: 0 .5em !important;
    position: absolute !important;
    right: 1.25rem !important;
    top: .75em !important;
    max-width:20px;
}

    .btn-main:hover {
        cursor: pointer !important;
        color: white !important;
    }

.inpt-main {
    height: 2em !important;
    padding: 0 2.5em 0 1em !important;
    box-shadow: none !important;
    color: #ffffff !important;
    max-width: 280px;
    position: absolute;
    right: 1.25rem;
    top: .75em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

@media screen and (max-width: 736px) {
    .btn-main {
        top: .75em !important
    }

    .inpt-main {
        top: .75em !important;
        max-width: 150px;
    }

    .drpdwn-main {
        top: .75em !important;
        right: 180px;
        max-width: 100px;
    }

    #pagination {
        font-size:.9em;
    }

    #pagination span {
        padding: .1em;
        margin: .15em
    }

    #pagination p {
        padding: .1em;
        margin: .15em;
    }

}

@media screen and (max-width: 400px) {
    #pagination {
        font-size: .8em !important;
    }
    .btn-main {
        right: .5rem !important;
    }

    .inpt-main {
        max-width: 110px;
        right: .5rem;
    }

    .drpdwn-main {
        right: 125px;
    }
}